:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-slate-300: hsl(212, 45%, 89%);
  --clr-slate-500: hsl(216, 15%, 48%);
  --clr-slate-900: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--clr-slate-300);
}

/* Begin styling component */
.card-container {
  background-color: var(--clr-white);
  width: 320px;
  height: 499px;
  border-radius: 20px;
  padding: 16px 16px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16% auto;
  gap: 24px;
}

img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

.summary-container {
  font-family: 'Outfit', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 288px;
  gap: 16px;
}

.summary-container h1 {
  font-size: 22px;
  color: var(--clr-slate-900);
}

.summary-container p {
  font-size: 15px;
  color: var(--clr-slate-500);
  width: 256px;
}
